<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>	
	<category label="General">
		<setting label="Control paternal" type="lsep" />
   		<setting id="pekes_no" type="bool" label="Control paternal" default="true"/>
		<setting label="Menú XML personalizado" type="lsep" />
		<setting id="xmlmaster" type="bool" label="Activar menú XML" default="false"/>
		<setting id="SelectXMLmenu" type="enum" label="Seleccione menú XML:" values="Latino Total|Pastebin|Personalizado" default="Latino Total" enable="!eq(-1,false)"/>		
		<setting id="mastermenu" type="text" label="XML Master Menu: " default="" enable="!eq(-2,false)"/>
		<setting id="id_pastebin" type="text" label="ID Pastebin: " default="" enable="!eq(-3,false)"/>
		<setting label="Vídeos intro 3D" type="lsep" />
		<setting id="ver_intro" type="bool" label="Mostrar al inicio" default="true"/>
	</category>
</settings>